{% extends 'base.html' %}
{% block content %}
<h1>Programs</h1>
<p>Choose a program tailored to your goals.</p>
<div class="row">
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Beginner</h5>
      <p>Light cardio, mobility, 3x/week.</p>
      <button class="btn btn-outline-primary">Select</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Strength</h5>
      <p>Compound lifts, 4x/week.</p>
      <button class="btn btn-outline-primary">Select</button>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3">
      <h5>Wellness</h5>
      <p>Recovery and mobility focus.</p>
      <button class="btn btn-outline-primary">Select</button>
    </div>
  </div>
</div>
{% endblock %}
